# ignore cache files
__pycache__/

# ignore compiled byte codes
*.pyc

# ignore exported copilot chats
copilot_chats/

# ignore environment config
.env
.idea
.vscode
MockFTPService/node_modules/
ImageManagementService/sample.json
MockFTPService/Sample Image Orders/.DS_Store
pso-test.py
.DS_Store
node_modules